<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>カロリーメイト msg19 変換ツール</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<style>
  #changeBinary .error {
    color: red;
  }
</style>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-34475950-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-34475950-6');
</script>
</head>
<body>
  <h3>カロリーメイト msg19 変換ツール</h3>
  <h4>説明</h3>
<p><a href="https://www.otsuka.co.jp/cmt/to_programmer/"  target="_blank" rel="noopener">カロリーメイトから、すべてのうちこむ人へ。プログラミング言語で書かれたメッセージを公開中。</a><br>
こちらのプロモーションサイトに各種プログラム言語のメッセージがありました。<br>
<a href="https://www.otsuka.co.jp/cmt/to_programmer/share/msg19/" target="_blank" rel="noopener">その中でmsg19は、私が好きなバイナリーコードでした。</a><br>
このサイトはこのバイナリーコードを簡単に生成します。</p>
  <div id="changeBinary">
    入力<br>
    <input type="text" v-model="message" size="40" maxlength="20"><br>
    <div class="error" v-if="error.notAscii">半角文字(ASCII文字)ではない文字が含まれます。</div>
    結果<br>
    <div></div><textarea id="target" rows="10" cols="40" v-text="binaryCode"></textarea><br></div>

    <button onclick="window.open('https://twitter.com/share?url=' + location.href + '&text=' + encodeURI(document.getElementById( 'target' ).value) + '&hashtags=BinaryConvert', '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');">Twitterでシェア</button>
  </div>
  <div>ご要望は <a href="https://twitter.com/sapi_kawahara" target="_blank" rel="noopener">@sapi_kawahara</a> までお願います。</div>
  <script>
  var changeBinary = new Vue({
    el: '#changeBinary',
    watch: {
      message: function(newVal, oldVal) {
        newVal = (newVal == null)?"" : newVal;
        if(newVal.match(/^[\x20-\x7e]*$/)){
          this.error.notAscii = false;
        }else{
          this.error.notAscii = true;
        }
      }
    },
    computed: {
      binaryCode: function () {
        if (this.error.notAscii == false) {
          let returnCode = this.message + "を変換しました。\n";
          let breackCount = 0;

          for (let step = 0; step < this.message.length ; step++) {
            returnCode += ( '000' + this.message.charCodeAt(step).toString(2) ).slice( -8 );
            if (step < (this.message.length - 1)) {
              returnCode += ' ';
            }
            breackCount++;
            if (breackCount > 2) {
              returnCode += "\n";
              breackCount = 0;
            }
          }
          return returnCode;
        }
      },
    },
    data: {
      message: 'BALANCED FOR HUMAN.',
      error: {
        notAscii: false
      }
    }
  })
  </script>
</body>
</html>