<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta property="og:url" content="https://msg19.netlify.app/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="カロリーメイト msg19 変換ツール" />
<meta property="og:description" content="カロリーメイト msg19 変換ツール" />
<meta property="og:site_name" content="カロリーメイト msg19 変換ツール" />
<meta property="og:image" content="https://res.cloudinary.com/profile-card/image/upload/l_text:Sawarabi%20Gothic_20_bold:%E3%82%AB%E3%83%AD%E3%83%AA%E3%83%BC%E3%83%A1%E3%82%A4%E3%83%88%20msg19%20%E5%A4%89%E6%8F%9B%E3%83%84%E3%83%BC%E3%83%AB%20%E4%BD%9C%E6%88%90%E8%80%85%20@sapi_kawahara/v1592844332/600x315.png" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@sapi_kawahara" />
<meta name="twitter:title" content="カロリーメイト msg19 変換ツール">
<meta name="twitter:description" content="カロリーメイト msg19 変換ツール">
<title>カロリーメイト msg19 変換ツール</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<style>
  #changeBinary .error {
    color: red;
  }
</style>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-34475950-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-34475950-6');
</script>
</head>
<body>
  <div class="container">
    <!-- Content here -->
    <div class="row">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">カロリーメイト msg19 変換ツール</h5>
          <h6 class="card-subtitle mb-2 text-muted">説明</h6>
          <p class="card-text"><a href="https://www.otsuka.co.jp/cmt/to_programmer/"  target="_blank" rel="noopener">カロリーメイトから、すべてのうちこむ人へ。プログラミング言語で書かれたメッセージを公開中。</a><br>こちらのプロモーションサイトに各種プログラム言語のメッセージがありました。<br><a href="https://www.otsuka.co.jp/cmt/to_programmer/share/msg19/" target="_blank" rel="noopener">その中でmsg19は、私が好きなバイナリーコードでした。</a><br>このサイトはこのバイナリーコードを簡単に生成します。</p>
        </div>
      </div>
      <div id="changeBinary">
        <div class="mb-3">
          <label for="inputCharacter" class="form-label">入力</label>
          <input v-model="message" id="inputCharacter" class="form-control" type="text" placeholder="変換元文字列を入力してください">
          <div class="error" v-if="error.notAscii">半角文字(ASCII文字)ではない文字が含まれます。</div>
          <div class="error" v-if="error.longCharacters">21文字以上は変換後ツイート文字数を超える可能性があります。</div>
        </div>
        <div class="mb-3">
          <label for="convertCharacter" class="form-label">結果</label>
          <textarea class="form-control" id="convertCharacter" rows="10" v-text="binaryCode"></textarea></div>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary btn-block" onclick="window.open('https://twitter.com/share?url=' + location.href + '&text=' + encodeURI(document.getElementById( 'convertCharacter' ).value) + '&hashtags=BinaryConvert', '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');">Twitterでシェア</button>
        </div>
        <div class="mb-3">
          ご要望は <a href="https://twitter.com/sapi_kawahara" target="_blank" rel="noopener">@sapi_kawahara</a> までお願います。
        </div>
      </div>
    </div>
  </div>
<script>
  var changeBinary = new Vue({
    el: '#changeBinary',
    watch: {
      message: function(newVal, oldVal) {
        newVal = (newVal == null)?"" : newVal;
        if(newVal.match(/^[\x20-\x7e]*$/)){
          this.error.notAscii = false;
          if (newVal.length > 20) {
            this.error.longCharacters = true;
          } else {
            this.error.longCharacters = false;
          }
        }else{
          this.error.notAscii = true;
        }
      }
    },
    computed: {
      binaryCode: function () {
        if (this.error.notAscii == false) {
          let returnCode = this.message + "を変換しました。\n";
          let breackCount = 0;

          for (let step = 0; step < this.message.length ; step++) {
            returnCode += ( '000' + this.message.charCodeAt(step).toString(2) ).slice( -8 );
            if (step < (this.message.length - 1)) {
              returnCode += ' ';
            }
            breackCount++;
            if (breackCount > 2) {
              returnCode += "\n";
              breackCount = 0;
            }
          }
          return returnCode;
        }
      },
    },
    data: {
      message: 'BALANCED FOR HUMAN.',
      error: {
        notAscii: false,
        longCharacters: false
      }
    }
  })
  </script>
</body>
</html>